@tailwind base;
@tailwind components;
@tailwind utilities;

.card-section {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  min-height: 100%;
  /* align-items: center; */
  gap: 0.75rem;
}

.card-form-container {
  height: 600px;
  /* max-height: 100%; */
  max-width: 1000px;
  position: relative;
  display: block;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #f2f2f2;
  margin: auto;
  transition: max-height 0.3s ease, padding 0.3s ease;
  /* background: #f9fafb; */
}

.card-question {
  display: flex;
  flex-direction: row;
}

.clickable-label {
  display: inline-block; /* Makes the label block-like while keeping it inline */
  padding: 0.5rem 1rem; /* Adjust padding as needed */
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
}

.header-button {
  display: inline-block; /* Makes the label block-like while keeping it inline */
  padding: 10px; /* Adjust padding as needed */
}

.header-button:hover {
  /* background-color: #c8c8c8; */
  background: #f9fafb;
  border-radius: 5px;
  align-self: center;
}

.add-button {
  display: inline-block; /* Makes the label block-like while keeping it inline */
  padding: 1px; /* Adjust padding as needed */
}

.add-button:hover {
  /* background-color: #c8c8c8; */
  background: #f9fafb;
  border-radius: 50px;
  align-self: center;
}
