@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
}

.dashboard-content {
  flex: 1;
  background: #f1f1fb;
  padding-bottom: 20px;
  transition: margin-left 0.3s ease;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
}
