@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboard-container {
  display: flex;
}

.sidebar-menu {
  flex: 1;
  background-color: #1d0061;
  padding: 5px;
  min-height: 100vh;
  max-width: 250px;
}

.dashboard-content {
  flex: 4;
  padding-left: 20px;
  padding-top: 40px;
  background: #f1f1fb;
  /* background: #e6e9dd; */
  /* padding-right: 20px; */
  padding-bottom: 20px;
}

.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* margin-top: 50px; */
}

.dashboard-main {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-cards {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.dashboard-side {
  flex: 1;
}
