@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --step--7: clamp(0.5132rem, 0.4032rem + 0.5498vi, 0.898rem);
    --step--6: clamp(0.5645rem, 0.4435rem + 0.6048vi, 0.9878rem);
    --step--5: clamp(0.6209rem, 0.4879rem + 0.6653vi, 1.0866rem);
    --step--4: clamp(0.683rem, 0.5367rem + 0.7318vi, 1.1953rem);
    --step--3: clamp(0.7513rem, 0.5903rem + 0.805vi, 1.3148rem);
    --step--2: clamp(0.8264rem, 0.6494rem + 0.8855vi, 1.4463rem);
    --step--1: clamp(0.9091rem, 0.7143rem + 0.974vi, 1.5909rem);
    --step-0: clamp(1rem, 0.7857rem + 1.0714vi, 1.75rem);
    --step-1: clamp(1.1rem, 0.8643rem + 1.1786vi, 1.925rem);
    --step-2: clamp(1.21rem, 0.9507rem + 1.2964vi, 2.1175rem);
    --step-3: clamp(1.331rem, 1.0458rem + 1.4261vi, 2.3293rem);
    --step-4: clamp(1.4641rem, 1.1504rem + 1.5687vi, 2.5622rem);
    --step-5: clamp(1.6105rem, 1.2654rem + 1.7255vi, 2.8184rem);

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --novel-highlight-default: #ffffff;
    --novel-highlight-purple: #f6f3f8;
    --novel-highlight-red: #fdebeb;
    --novel-highlight-yellow: #fbf4a2;
    --novel-highlight-blue: #c1ecf9;
    --novel-highlight-green: #acf79f;
    --novel-highlight-orange: #faebdd;
    --novel-highlight-pink: #faf1f5;
    --novel-highlight-gray: #f1f1ef;
    --novel-stone-100: #f5f5f4; /* Light stone shade */
    --novel-stone-200: #e7e5e4; /* Medium light stone shade */
    --novel-stone-800: #57534e; /* Dark stone shade */
    font-size: var(--step--7);
    /* letter-spacing: -0.025em; */
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

pre {
  background: #0d0d0d;
  border-radius: 0.5rem;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;

  code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
  }

  .hljs-comment,
  .hljs-quote {
    color: #616161;
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-attribute,
  .hljs-tag,
  .hljs-name,
  .hljs-regexp,
  .hljs-link,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class {
    color: #f98181;
  }

  .hljs-number,
  .hljs-meta,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-literal,
  .hljs-type,
  .hljs-params {
    color: #fbbc88;
  }

  .hljs-string,
  .hljs-symbol,
  .hljs-bullet {
    color: #b9f18d;
  }

  .hljs-title,
  .hljs-section {
    color: #faf594;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    color: #70cff8;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: 700;
  }
}
