.sidebar-container {
  height: 100vh;
  position: sticky;
  top: 50px;
  left: 0;
  /* background-color: rgba(24, 24, 27, 0.5); */

  overflow-x: hidden;
  padding-top: 20px;
  -webkit-text-fill-color: aliceblue;
}

.sideitem-container {
  padding: 15px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
  border-radius: 10px;
  -webkit-text-fill-color: #f1f1f1;
}

.sidebar-auth-btn {
  display: flex;
  position: sticky;
  /* justify-content: center; */
  /* justify-items: center; */
  /* align-items: center; */
  position: bottom;
  /* margin-top: 95%; */
  /* padding-left: 10px; */
  /* padding-left: 45%; */
  /* padding: 10px; */
  /* bottom: 25%; */
}

.cat {
  color: #cabeff;
  font-weight: bold;
  font-size: 13px;
  margin: 5px 0px;
}

.sidebar-list {
  list-style: none;
}
