@tailwind base;
@tailwind components;
@tailwind utilities;

.node-type-dropdown-button {
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
  padding-top: 0.375rem; /* 6px */
  padding-bottom: 0.375rem; /* 6px */
  border-radius: 0.25rem; /* 4px */
}
