@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble-menu {
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06); /* equivalent to shadow */
  background-color: white;
  border-radius: 0.125rem; /* equivalent to rounded-sm */
  overflow: hidden;
  border: 1px solid #cbd5e1; /* equivalent to border-slate-200 */
  box-sizing: border-box;
}

.bubble-menu .bubble-menu-button {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem; /* equivalent to p-2 */
  border: 1px solid transparent;
  font-size: 0.75rem; /* equivalent to text-xs */
  font-weight: 500; /* equivalent to font-medium */
  color: #374151; /* equivalent to text-gray-700 */
  background-color: #f3f4f6; /* equivalent to bg-gray-100 */
}

.bubble-menu .bubble-menu-button:hover {
  background-color: #e5e7eb; /* equivalent to hover:bg-gray-200 */
}

.node-type-dropdown-button {
  padding-left: 0.5rem; /* 8px */
  padding-right: 0.5rem; /* 8px */
  padding-top: 0.375rem; /* 6px */
  padding-bottom: 0.375rem; /* 6px */
  border-radius: 0.25rem; /* 4px */
  cursor: pointer;
}

.node-type-dropdown-button:hover {
  background-color: #f1f5f9; /* hover:bg-slate-100 */
}
