@tailwind base;
@tailwind components;
@tailwind utilities;
.ProseMirror {
  p.is-empty::before {
    content: attr(data-placeholder);
    color: #94a3b8; /* equivalent to text-slate-400 */
    float: left;
    height: 0;
    pointer-events: none;
    position: absolute;
    margin-left: 2px;
  }

  .drag-add-button {
    background-color: #e5e7eb; /* equivalent to bg-gray-200 */
    transition: background-color 0.2s;
    border-radius: 0.125rem; /* equivalent to rounded */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    font-size: 1.125rem; /* equivalent to text-lg */
    padding-top: 0.25rem; /* equivalent to py-1 */
    padding-bottom: 0.25rem; /* equivalent to py-1 */
    opacity: 0;
    color: black;
    height: fit-content;
  }

  .drag-handle {
    opacity: 0;
    background-color: #e5e7eb; /* equivalent to bg-gray-200 */

    transition: background-color 0.2s;
  }

  .drag-handle:hover {
    background-color: #d1d5db; /* equivalent to hover:bg-gray-300 */
  }

  .drag-block-content {
  }
}
