@tailwind base;
@tailwind components;
@tailwind utilities;

.deck-wrapper-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 1em;
  flex-shrink: 1;
  /* padding: 1em; */
  width: 100%;
  height: 100vh;
}

.decks-list {
  display: grid;
  width: 100%;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  /* grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  /* grid-template-rows: auto; */
  padding: 1em;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(auto-fill, 250px); */
  /* grid-row-gap: 2em; */
  grid-column-gap: 1.5em;
}

.deck-icon-wrap {
  width: 80px;
  height: 80px;
  background-color: red;
  border-radius: 4px;
}

.deck-title-wrap {
  display: flex;
  flex-direction: column;
  width: 55%;
}
.deck-title-text {
  word-wrap: break-word;
  white-space: normal;
}

.deck-wrapper-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 12px;
  margin-bottom: 2em;
  gap: 2em;
  height: 10rem;
  border-bottom: 1px solid black;
  /* font-size: 20px; */
  /* margin-bottom: 20px; */
}
.deck-wrapper-header h1 {
  margin: 0;
  font-size: var(--step-1);
  font-weight: 600;
}

.add-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: auto; */
  /* background: #e6deff; */
  /* padding: 20px; */
  /* font-size: 20px; */
  font-size: var(--step--4);
  font-weight: 600;
  /* margin-bottom: 20px; */
}

.add-card-btn {
  display: block;
  justify-content: center;
  /* height: 150px;
  width: 150px; */
  /* padding: 12px 12px 16px; */
  margin: 5px 0px;
}
